.table {
  border-collapse: collapse;
  color: #777;
  text-align: left;
  font-size: 1.1rem;


}

.table img {
  width: 60px;
  border-radius: 50%;

}

.table td,
.table th {
  border-bottom: 1px solid #777;

  padding: 20px 50px;
}

.table thead {
  font-size: 1rem;
  color: #024e02;
}

/* .table button {
  color: rgb(230, 23, 33);
  border-radius: 5px;
}
.table button:hover {
  color: rgb(168, 148, 148);
} */
